.timer-buttons button {
  margin: 12px;
  padding: 18px 40px; /*changes size of orange buttons*/
  border-radius: 12px;
  border: none;
  background: #F08455;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
}

.timer-buttons button:hover {
  background: #e86228;
}
